@import url(reset.css);

/*GENERAL STYLES*/
.page-wrapper {
	width: 960px;
	margin: 50px auto 75px;
}
a {
	text-decoration: none;
}

/*HEADER*/
header {
	overflow: hidden;
}
.logo {
	width: 161px;
	float: left;
	margin: 30px 574px 30px 30px;
}
.hcontacts {
	width: 135px;
	float: left;
	margin: 33px 30px;
}
.hcontacts li {
	text-align: left;
}
.hcontacts li a {
	color: #868686;
	font: 12px Verdana sans-serif;
	padding-left: 26px;
}
.hcontacts li a:hover {
	text-decoration: underline;
}
.phone {
	background: url(../images/phone.png) no-repeat left center; 
}
.mail {
	background: url(../images/mail.png) no-repeat left center;
}

/*NAVIGATION MENU*/
nav {
	background-color: #2f2f2f;
}
nav ul {
	overflow: hidden;
}
nav ul li {
	float: left;
	padding: 15px 0;
}
nav ul li a {
	color: #8a8a8a;
	font: 14px 'PT Sans', sans-serif;
	display: block;
	width: 120px;
	text-align: center;
}
.current {
	border-bottom: solid 5px #7cbe5c;
}
.current a {
	color: #7cbe5c;
}

/*BANNER*/
article {
	overflow: hidden;
}
.banner {
	overflow: hidden;
	background: url(../images/banner.png) no-repeat;
	color: #ffffff;
	margin: 30px auto;
	width: 900px;
	height: 300px;
}
.text-box {
	width: 500px;
	height: 60px;
	background-color: #7cbe5c;
	opacity: 0.95;
	position: relative;
	top: 50px;
	left: 30px;
}
.text-box h1 {
	font: bold 48px 'PT Sans Narrow', sans-serif;
	color: #fff;
	text-align: center;
}
h2 {
	font: 18px 'PT Sans Narrow', sans-serif;
	position: relative;
	top: -34px;
	left: 30px;
}

/*MAIN CONTENT*/
.row {
	margin: 40px auto 0;
	width: 880px;
	overflow: hidden;
}
.column-center {
	padding: 0 35px;
}
.divider {
	background: url(../images/line.png) no-repeat center;
	width: 270px;
	height: 2px;
	margin-top: 8px;
	margin-bottom: 15px;
	opacity: 0.5;
}
section {
	width: 270px;
	float: left;
	font: 14px 'PT Sans', sans-serif;
	text-align: center;
}
section h3 {
	font-size: 20px;
	color: #000;
}
section h4 {
	line-height: 1.6;
}
section p {
	color: #868686;
	padding-bottom: 15px;
}
section a {
	display: block;
}
.text-content {
	height: 170px;
	overflow: hidden;
}
.info .text-content {
	height: 96px;
}
.button {
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px #868686;
	width: 95px;
	margin: 21px auto 3px;
	padding: 5px 0 4px;
	border: 1px solid #6aa24f;
	box-shadow: inset 0 1px 0px #9dce85, 0 1px 3px 0 #000;
	background-color: #7cbe5c;
	background-image: linear-gradient(to bottom, #7cbd5c, #6aa24f);
}
.whole-line {
	width: 900px;
	margin: 40px 30px 45px;
	overflow: hidden;
}
.whole-line .divider {
	width: inherit;
	margin-bottom: 20px;
}
.gallery {
	overflow: hidden;
}
.gallery figure {
	float: left;
	padding-left: 28px;
}
.gallery figure:first-child {
	padding-left: 0;
}
.gallery figure img {
	border: 3px solid #c3c3c3;
} 
.gallery figure img:hover {
	border-color: #7cbe5c;
}
p span {
	color: #000;
}
blockquote {
	font-style: italic;
}
.clients figure {
	display: inline-block;
	float: none;
	padding-left: 40px;
}
.clients figure img {
	border: none;
	opacity: 0.5;
} 

/*FOOTER*/
footer {
	overflow: hidden;
	background-color: #000;
	font: 11px Tahoma, sans-serif;
	color: #6d6d6d;
}
footer a {
	color: #6d6d6d;
}
footer a:hover {
	text-decoration: underline;
}
footer ul {
	list-style-type: square;
	float: left;
	color: #6d6d6d;
	padding: 14px 20px 16px 36px;
	line-height: 1.8;
}
footer div {
	float: right;
	width: 348px;
}
footer div .social {
	padding-right: 30px;
	float: right;
	overflow: hidden;
}
footer div figure {
	float: right;
	padding: 14px 0 15px 16px;
	opacity: 0.5;
}
footer div p {
	float: right;
	font-size: 10px;
	padding-right: 30px;
	line-height: 1.5;
}

